html {
    color: black;
    background: burlywood;
}

header {
    text-align: center;
}

#bot_res {
    position: absolute;
    float: top;
}

#player_res {
    position: absolute;
    float: top;
    margin-top: 200px;
}

#results {
    position: absolute;
    float: top;
    margin-top: 320px;
}

#standard_img {
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.bot {
    position: absolute;
    left: 30%;
    margin: 40px;
}

.all {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.unknown {
    position: absolute;
    /*display: flex;*/
    text-align: left;
}

.notification {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}

.rock {
    margin: 0 200px 200px 0;

}

.scissors {
    margin: 0 0 200px 0;
}

.paper {
    margin-top: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

img {
    float: top;
}

p {
    text-align: center;
}